{% extends 'header.html' %}

{% block content %}

      <div class="nav">
          <h2>– TRANSFER RECORDS –</h2>
          <table class="content-nav">
            <thead>
              <tr>
                <td>id</td>
                <td>player</td>
                <td>from</td>
                <td>to</td>
                <td>
                  transfer fee, <br />
                  mill. euro
                </td>
                <td>
                  season
                </td>
              </tr>
            </thead>
          </table>
        </div>
<br>
<br>
<br>
<br>
<br>
<br>
      <div class="latest-transfers">
        <table class="top-players">

            {% for player in players %}
          <tr>
            <td>{{player.id}}</td>
            <td>{{player.player}}</td>
            <td>{{player.eski_club}}</td>
            <td>{{player.yangi_club}}</td>
            <td>{{player.narx}}</td>
            <td>{{player.mavsum}}</td>
          </tr>
            {% endfor %}

        </table>
        <hr>
        <p>It is a list of the most expensive transfers of all time. The minimum transfer value is 50 million euro.</p>
      </div>

{% endblock %}
